@model Student
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<br />
<span class="fw-bold">Id:</span> @Model.Id
<br />
<span class="fw-bold">Name:</span> @Model.FName @Model.LName
<br />
<span class="fw-bold">Age:</span> @Model.Age
<br />
<span class="fw-bold">Email:</span> @Model.Email
<br />
<span class="fw-bold">Dept. Id:</span> @Model.DeptId