@model List<Student>
@{
    ViewData["Title"] = "Students Page";
}

@if (User.IsInRole("Admin") || User.IsInRole("Instructor"))
{
    <a asp-action="Create" class="btn btn-dark d-inline">Create</a>
    <br />
    <br />
}
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Department Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FName @item.LName</td>
                <td>@item.Age</td>
                <td>@item.Email</td>
                @*<td>@item.DeptId</td>*@
                <td>
                    <select asp-for="@item.DeptId" asp-items="@ViewBag.deptname" disabled></select>
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Instructor"))
                    {
                        <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <span> | </span><a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <span> | </span><a class="btn btn-danger" asp-action="Delete" onclick="return confirm('Are you sure?')" asp-route-id="@item.Id">Delete</a>
                    }
                    else
                    {
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
